#projects {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  #projects h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  #projects div {
    background-color: #f4f4f4;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
    max-width: 600px;
  }
  
  #projects h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  #projects p {
    font-size: 1.1rem;
    line-height: 1.6;
  }